.campo-texto {
  font-weight: bold;
  margin: 24px 0;
}

.campo-texto label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.campo-texto input {
  background-color: #fff;
  padding: 24px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
  border: none;
  font-size: 24px;
  border-radius: 10px;
  box-sizing: border-box;
}